<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redrock.date2" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-feature android:name="android.hardware.camera" />


    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TransTheme" >

        <meta-data android:value="55c71237e0f55a9a8d002a6a" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Jude" android:name="UMENG_CHANNEL"/>

        <meta-data
            android:name="MODEL"
            android:value="
            com.redrock.date2.model.DateModel,
            com.redrock.date2.model.UserModel,
            com.redrock.date2.model.ActionModel"
            ></meta-data>
        <activity
            android:name=".moudel.main.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".moudel.launch.LaunchActivity"
            android:theme="@style/LaunchTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moudel.date.WriteDateActivity"
            android:label="发布"></activity>
        <activity android:name=".moudel.user.UserDetailActivity"
            android:label="个人资料"></activity>
        <activity android:name=".moudel.date.DateDetailActivity"
            android:label="约会详情"></activity>
        <activity android:name=".moudel.user.AttentionActivity"
            android:label="关注的人"></activity>
        <activity android:name=".moudel.user.FansActivity"
            android:label="我的粉丝"></activity>
        <activity android:name=".moudel.user.JoinDateActivity"
            android:label="约会记录"></activity>
        <activity android:name=".moudel.user.CollectionDateActivity"
            android:label="我的收藏"></activity>
        <activity android:name=".moudel.user.ContactActivity"
            android:label="联系方式"></activity>
        <activity android:name=".moudel.user.CertificationActivity"
            android:label="实名验证"></activity>
        <activity android:name=".moudel.launch.LoginActivity"
            android:label="登录"></activity>
        <activity android:name=".moudel.launch.RegisterActivity"
            android:label="注册"></activity>
        <activity android:name=".moudel.launch.VerifyActivity"
            android:label="验证"></activity>
    </application>

</manifest>
